<header class="app-header">
    <div class="header-container">
        <!-- Spacer -->
        <div class="flex-1"></div>

        <!-- Header Actions -->
        <div class="header-end">
            <!-- Language Toggle -->
            <!-- <p-button icon="pi pi-globe" [rounded]="true" [text]="true" severity="secondary"
                (onClick)="languageService.toggleLang()"
                [pTooltip]="languageService.currentLang() === 'en' ? 'العربية' : 'English'" tooltipPosition="bottom" /> -->

            
        </div>
    </div>
</header>