@import "tailwindcss";
@import 'primeicons/primeicons.css';

:root {
  --app-background-light-color: #eff4fa; 
  --app-background-dark-color: #0d0d0d; 
}

body {
  background-color: var(--app-background-light-color);
}

.my-app-dark body {
  background-color: var(--app-background-dark-color) ;
}

/* Arabic font - applied when app language is Arabic */
/* [lang="ar"] body {
  font-family: "Baloo Bhaijaan 2", sans-serif;
} */