@layer tailwind, primeng, custom, utilities;

@import "tailwindcss" layer(tailwind);
@import 'primeicons/primeicons.css' layer(primeng);

@layer custom {

  :root {
    --p-tooltip-background: var(--p-orange-500);
  }

  body {
    font-family: "Nunito", sans-serif;
    margin: 0;
  }

  /* Arabic font - applied when app language is Arabic */
  [lang="ar"] body {
    font-family: "Baloo Bhaijaan 2", sans-serif;
  }
}