@layer primeng, primeflex, custom;

@import '../../styles.scss' layer(custom);
@import 'primeicons/primeicons.css' layer(primeng);
@import 'primeflex/primeflex.css' layer(primeflex);

@layer primeng {
  :root {
    --p-tooltip-background: var(--p-orange-500);
  }
}
