<div class="min-h-screen surface-ground flex align-items-center justify-content-center px-3 py-5">
    <p-card class="w-full sm:w-25rem">
        <div class="text-center mb-3">
            <div class="text-2xl font-semibold mb-1">Login</div>
        </div>

        <form [formGroup]="form" (ngSubmit)="onSubmit()" class="flex flex-column gap-3">
            <div class="flex flex-column gap-2 ">
                <label for="username" class="font-semibold">Username</label>
                <p-iconfield iconPosition="left" class="w-full">
                    <p-inputicon>
                        <i class="pi pi-user"></i>
                    </p-inputicon>
                    <input id="username" type="text" pInputText [pAutoFocus]="true" placeholder="Username" formControlName="username"
                        class="w-full" [ngClass]="{ 'p-invalid': submitted && f['username'].errors }" />
                </p-iconfield>
                @if (submitted && f['username'].errors) {
                    <p-message severity="error" size="small" variant="simple">Username is required</p-message>
                }
            </div>

            <div class="flex flex-column gap-2">
                <label for="password" class="font-semibold">Password</label>
                <p-iconfield iconPosition="left" class="w-full">
                    <p-inputicon>
                        <i class="pi pi-lock"></i>
                    </p-inputicon>
                    <p-password id="password" class="w-full" formControlName="password" [feedback]="false"
                        [toggleMask]="true"
                        [inputStyleClass]="submitted && f['password'].errors ? 'w-full p-invalid' : 'w-full'"
                        placeholder="Password"></p-password>
                </p-iconfield>
                @if (submitted && f['password'].errors) {
                    <p-message severity="error" size="small" variant="simple">Password is required</p-message>
                }
            </div>

            <p-button type="submit" label="Login" class="w-full mt-1" severity="primary"></p-button>
        </form>
    </p-card>
</div>